In [1]:
print('Ini Kelas Algoritma')

Ini Kelas Algoritma

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understant what are you saying")

I don't understant what are you saying

In [ ]:
print('I don't understant what are you saying')

In [5]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [ ]:
print("He is such a"GENIUS"")

In [6]:
mahasiswa = 2108541034
uang_di_dompet = 50000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

2108541034
50000
105427051700000

In [7]:
nama_depan = 'Lidya '
nama_tengah = 'Gresya '
nama_belakang = 'Tambun '
print(nama_depan + nama_tengah + nama_belakang)

Lidya Gresya Tambun

In [8]:
nama = input("Siapakah nama anda?")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"?")
print("Semangat "+ kegiatan +"nya yah, " + nama + "!")

Siapakah nama anda?Lidya
Apakah kegiatan anda sekarang, Lidya?Mengerjakan tugas
Semangat Mengerjakan tugasnya yah, Lidya!

In [9]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang di bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 5000
Berapakah jumlah uang di bank? 1000
Total uang anda adalah Rp 50001000

In [10]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet anda? 50000
Berapakah jumlah uang anda di bank? 30000
Total uang anda adalah Rp 80000

In [11]:
type(uang_di_dompet)

str

In [12]:
type(uang_di_bank)

str

In [13]:
type(total_uang)

int

In [14]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah " + str(jumlah))

Masukkan bilangan pertama: 24
Masukkan bilangan kedua: 7
Jumlah kedua bilangan adalah 31.0

In [15]:
nama = "Lidya"
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Lidya adalah seorang mahasiswa di Universitas Udayana.

In [16]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Lidya adalah seorang mahasiswa di Universitas Udayana.

In [17]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Lidya adalah seorang mahasiswa di Universitas Udayana.

In [18]:
kelas = 'ini kelas algoritma'

In [19]:
print(kelas[0:3])

ini

In [20]:
print(kelas[0:-1])

ini kelas algoritm

In [21]:
print(kelas[5:-1])

elas algoritm

In [22]:
print(kelas[2:-1:3])

ieslrm

In [23]:
print(kelas[:-3])

ini kelas algori

In [24]:
print(kelas[1:])

ni kelas algoritma

In [25]:
print(kelas[:])

ini kelas algoritma

In [26]:
judul = 'Danau Toba adalah Danau Terluas'

In [27]:
print(len(judul))

31

In [28]:
judul.upper()

'DANAU TOBA ADALAH DANAU TERLUAS'

In [29]:
judul.lower()

'danau toba adalah danau terluas'

In [30]:
judul.find('adalah')

11

In [31]:
judul.replace('Danau', 'Lake')

'Lake Toba adalah Lake Terluas'

In [32]:
judul.replace('danau', 'Lake')

'Danau Toba adalah Danau Terluas'

In [33]:
print('Danau' in judul)

True

In [34]:
print('danau' in judul)

False

In [35]:
print(8+6)
print(8-6)
print(8*6)
print(8/6)
print(8//6)
print(8%3)
print(8**6)
x=4
x+=2
print(x)
x-=3
print(x)
x*=8
print(x)

14
2
48
1.3333333333333333
1
2
262144
6
3
24

In [36]:
x = 7>6
print(x)
x = 6<7
print(x)
x = 7 >= 6
print(x)
x = 6 <= 7
print(x)
x = 7 == 7
print(x)
x = 7 != 8
print(x)

True
True
True
True
True
True

In [37]:
x = 6>7
print(x)
x = 7<6
print(x)
x = 6 >= 7
print(x)
x = 7 <= 6
print(x)
x = 7 == 8
print(x)
x = 7 != 7
print(x)

False
False
False
False
False
False

In [38]:
warna_merah = 4
warna_ungu = 7
print(warna_merah > 3 and warna_ungu < 10)

True

In [39]:
print(warna_merah < 3 or warna_ungu < 10)

True

In [40]:
print(warna_merah < 3 or warna_ungu > 10)

False

In [41]:
print(not (warna_merah < 3 or warna_ungu > 10) )

True

In [42]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 85 and nilai >= 74:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 74:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 98
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [43]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai >= 74:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
elif nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 96
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [44]:
a = 3
while a < 9:
    print("Angka " + str(a)+" masih dibawah 9")
    a += 1

Angka 3 masih dibawah 9
Angka 4 masih dibawah 9
Angka 5 masih dibawah 9
Angka 6 masih dibawah 9
Angka 7 masih dibawah 9
Angka 8 masih dibawah 9

In [45]:
a = 3
while a < 9:
    print(a * '*')
    a += 1

***
****
*****
******
*******
********